@import url("reset.css");

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Serif TC', serif;
    font-size: 25px;
}

.wrap{
  margin: 0 auto;
  max-width: 1196px;
  width:100%;
  /* background-color:gray; */

}
@media (max-width:800px){
div.wrap div.aboutbed p{
  font-size:18px;
}
.wrap h3{
font-size: 15px;
}
div.wrap div.aboutbed h3{
  font-size:25px;
}
.wrap a{
font-size: 20px;
}
.wrap button{
font-size: 20px;
}
.wrap ol{
font-size: 15px;
}
.wrap h4{
  font-size: 25px;
}

}
.topbar{

  
  box-sizing: border-box;
  display: flex;

  /* border:1px solid black; */

      
}
.btn_hamburger{

display:none;
background-color: #526599;

}
.btn_hamburger span{
display:block;
width:40px;

margin:10px;
/* padding: .1px; */
height: .5px;
background-color:white;
color: white;

}



@media (max-width:575px){
.btn_hamburger{
  width:80px;
  height:70px;
  background-color: #526599;
  margin-top: 20px;
  border:none;
  display:inline-block;
}
}
@media screen and (min-width: 576px) and (max-width: 800px){
.btn_hamburger{
  width:80px;
  height:70px;
  background-color: #526599;
  margin-top: 35px;
  border:none;
  display:inline-block;
}
}

.logo{
width:100%;
max-width:100px;
/* border: 1px solid black; */
}
.logo img{

  width: 100%;
  max-width:120px;
  display: block;
  margin-left: 20px;
  margin-top: 10px;

}
@media screen and (max-width: 575px){
.logo img{
  width: 50px;
  padding:20px;
  
}
}

@media screen and (min-width: 576px) and (max-width: 767px){
.logo img{
  width:60px;
  padding:30px;
}
}

@media screen and (min-width: 768px) and (max-width: 991px){
.logo img{
  width:80px;
  padding:30px;
}
}

@media screen and (min-width: 991px) and (max-width: 1199px){
.logo img{
  width:100px;
  padding:30px;
}
}
@media screen and (min-width: 1200px){
.logo img{
  width:120px;
}
}


.choice{
  max-width: 1000px;
  width: calc(100% - 90px);
  margin-left: 90px;
  display: flex;
  /* border:2px solid yellow; */
}

.choice ul{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  /* border:2px solid red; */

}


.choice li{

  flex-grow: 1;
  color: #223262;
}
@media (max-width:800px){
.choice li{
display:none;

}

}
.choice a{
  color: #223262;
  text-decoration: none;

}
.choice a:hover{
  text-decoration:underline;
  background-color: blanchedalmond;
  color:coral;
}

.choice2{
  max-width:200px;
  width: 100%;
  display: flex;
  /* border:2px solid blue; */
}

.choice2 ul{
flex-grow: 1;
display: flex;
margin-top: 65px;
/* border:1px solid red; */
}



@media (max-width:800px){
.choice2 ul{
display:inline-block;
}

}
.choice2 li{
color: #223262;
}

.choice2 img{
  max-width:30px;
  width: calc(100% - 30px);
  padding-left: 20px;
  /* width: 40%; */
}
@media screen and (max-width: 575px){
.choice2 img{
  width: 20px;
  
  
}
}

@media screen and (min-width: 576px) and (max-width: 767px){
.choice2 img{
  width:20px;
  
}
}

@media screen and (min-width: 768px) and (max-width: 991px){
.choice2 img{
  width:25px;
  
}
}

@media screen and (min-width: 991px) and (max-width: 1199px){
.choice2 img{
  width:30px;
  
}
}
@media screen and (min-width: 1200px){
.choice2 img{
  width:30px;
}
}


.choice2 a{
/* max-width: 20px;
height:10px; */
text-decoration: none;
background-color:none;
color:red;
}




.breadcrumb{
    margin-top: 30px;
    background-color: #F1F4F3;
    display: flex;
    padding: 10px;
}

.breadcrumb li {
    padding: 2px;
}
.breadcrumb li ::after{
    content: "  >    ";
}
.breadcrumb a{
    text-decoration: none;
}
/* brandwhole strat */

.brandwhole{
    max-width: 1196px;
    width: 100%;
    margin-top: 30px;

}

.concept{
    border: 1px black solid;
    max-width: 1196px;
    display: flex;
    margin-bottom: 100px;
}
.concept_pic{
  border:black 1px solid;
}
.concept_pic img{
    max-width: 364px;
    width:100%;
}

.concept_word{

    max-width: 800px;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px 50px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    border:solid 1px black;
}
@media screen and (max-width: 800px){
  .concept{
    flex-direction: column;
  }
  }
    
.concept_word h1{

    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    
}

.concept_word p{

    font-size: 15px;
    line-height: 1.6;
    text-overflow: ellipsis;
    overflow: hidden;
}

.concept2{

    max-width: 1196px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.concept_pic2 img{
  max-width: 364px;
  width:100%;
  order:0;   
}

.concept2_word{

  max-width: 800px;
  width: 100%;
  flex-wrap: wrap;
  padding: 50px 50px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  border:solid 1px black;
  order:-1;
}
@media screen and (max-width: 800px){
.concept2{
  flex-direction: column;
}
}
@media screen and (max-width: 800px){
  .concept2_word{
    order:0;
  }
  }
  @media screen and (max-width: 800px){
    .concept_pic2 img{
      order: -1;
    }
    }

.concept2_word h1{

    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    
}

.concept2_word p{

    font-size: 15px;
    line-height: 1.6;
}

.concept3{

    max-width: 1196px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    
}


.concept_pic3 img{
    max-width: 364px;
    /* height: 230px; */
        
}

.concept3_word{

  max-width: 800px;
  width: 100%;
  flex-wrap: wrap;
  padding: 50px 50px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  border:solid 1px black;
  
}
@media screen and (max-width: 800px){
.concept3{
  flex-direction: column;
}
}


.concept3_word h1{

    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    
}

.concept3_word p{

    font-size: 15px;
    line-height: 1.6;
}


/* footer start */
.footer{

  background-color:#223262 ;
  color: white;
  /* margin-top: 20px; */

}
.footer a:hover{
  text-decoration:none;
  color:rgb(238, 89, 89);
}

.footer_bar{
  max-width: 1200px;
  width:100%;
  display: flex;
  text-align: center;
  padding-top: 40px;
  /* border:5px solid black; */
  flex-wrap: wrap;

}
.sale{
  flex-grow: 1;
  text-align: center;
  width:220px;
  margin-bottom: 20px;
}

.sale ul{

 
}

.sale li{

}
.sale a {
  text-decoration: none;
  padding: 5px;
  color: white;
  width: 60px;
  line-height: 40px;
  font-size: 17px;
}

.resource{
  
  flex-grow: 1;  
  /* border:solid 1px black; */
  width:220px;

}

.resource ul{
 
}

.resource li{

}

.resource a{
  text-decoration: none;
  padding: 5px;
  color: white;
  width: 60px;
  line-height: 40px;
  font-size: 17px;
}

.assist{
  flex-grow: 1;
  /* border:solid 1px black; */
  width:220px;
}

.assist ul{

}

.assist li{

}

.assist a{
  text-decoration: none;
  padding: 5px;
  color: white;
  width: 60px;
  line-height: 40px;
  font-size: 17px;
}

.socialmedia{
  flex-grow: 1;
  width:220px;
  /* border: 1px black solid; */
}

.socialmedia ul{

}

.socialmedia li{


}

.socialmedia a{
  text-decoration: none;
  padding: 5px;
  color: white;
  width: 60px;
  line-height: 40px;
  font-size: 17px;
}

.email{
  width: 250px;
  padding-left:50px;
  font-weight: bold;

  /* border:  1px black solid; */
}

.email h1{
  font-size: 20px;

}
.email input{
  width: 200px;
  height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  
}
