@import url("reset.css");

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Serif TC', serif;
    font-size: 25px;
}

.wrap{
  margin: 0 auto;
  max-width: 1196px;
  width:100%;
  /* background-color:gray; */

}
@media (max-width:800px){
div.wrap p{
  font-size:18px;
}
.wrap h3{
font-size: 15px;
}
div.wrap div.aboutbed h3{
  font-size:25px;
}
.wrap a{
font-size: 20px;
}
.wrap button{
font-size: 20px;
}
.wrap ol{
font-size: 15px;
}
.wrap h4{
  font-size: 25px;
}
div.wrap div.info_word h1{
  font-size:25px;
}

}
.topbar{

  
  box-sizing: border-box;
  display: flex;

  /* border:1px solid black; */

      
}
.btn_hamburger{

display:none;
background-color: #526599;

}
.btn_hamburger span{
display:block;
width:40px;

margin:10px;
/* padding: .1px; */
height: .5px;
background-color:white;
color: white;

}



@media (max-width:575px){
.btn_hamburger{
  width:80px;
  height:70px;
  background-color: #526599;
  margin-top: 20px;
  border:none;
  display:inline-block;
}
}
@media screen and (min-width: 576px) and (max-width: 800px){
.btn_hamburger{
  width:80px;
  height:70px;
  background-color: #526599;
  margin-top: 35px;
  border:none;
  display:inline-block;
}
}

.logo{
width:100%;
max-width:100px;
/* border: 1px solid black; */
}
.logo img{

  width: 100%;
  max-width:120px;
  display: block;
  margin-left: 20px;
  margin-top: 10px;

}
@media screen and (max-width: 575px){
.logo img{
  width: 50px;
  padding:20px;
  
}
}

@media screen and (min-width: 576px) and (max-width: 767px){
.logo img{
  width:60px;
  padding:30px;
}
}

@media screen and (min-width: 768px) and (max-width: 991px){
.logo img{
  width:80px;
  padding:30px;
}
}

@media screen and (min-width: 991px) and (max-width: 1199px){
.logo img{
  width:100px;
  padding:30px;
}
}
@media screen and (min-width: 1200px){
.logo img{
  width:120px;
}
}


.choice{
  max-width: 1000px;
  width: calc(100% - 90px);
  margin-left: 90px;
  display: flex;
  /* border:2px solid yellow; */
}

.choice ul{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  /* border:2px solid red; */

}


.choice li{

  flex-grow: 1;
  color: #223262;
}
@media (max-width:800px){
.choice li{
display:none;

}

}
.choice a{
  color: #223262;
  text-decoration: none;

}
.choice a:hover{
  text-decoration:underline;
  background-color: blanchedalmond;
  color:coral;
}

.choice2{
  max-width:200px;
  width: 100%;
  display: flex;
  /* border:2px solid blue; */
}

.choice2 ul{
flex-grow: 1;
display: flex;
margin-top: 65px;
/* border:1px solid red; */
}



@media (max-width:800px){
.choice2 ul{
display:inline-block;
}

}
.choice2 li{
color: #223262;
}

.choice2 img{
  max-width:30px;
  width: calc(100% - 30px);
  padding-left: 20px;
  /* width: 40%; */
}
@media screen and (max-width: 575px){
.choice2 img{
  width: 20px;
  
  
}
}

@media screen and (min-width: 576px) and (max-width: 767px){
.choice2 img{
  width:20px;
  
}
}

@media screen and (min-width: 768px) and (max-width: 991px){
.choice2 img{
  width:25px;
  
}
}

@media screen and (min-width: 991px) and (max-width: 1199px){
.choice2 img{
  width:30px;
  
}
}
@media screen and (min-width: 1200px){
.choice2 img{
  width:30px;
}
}


.choice2 a{
/* max-width: 20px;
height:10px; */
text-decoration: none;
background-color:none;
color:red;
}

.breadcrumb{
    margin-top: 30px;
    background-color: #F1F4F3;
    display: flex;
    padding: 10px;
}

.breadcrumb li {
    padding: 2px;
}
.breadcrumb li ::after{
    content: "  >    ";
}
.breadcrumb a{
    text-decoration: none;
}

/* 商品資訊 */

.product_wrapper{

    max-width:1196px;
    width: 100%;
    /* height: 722px; */
    background-color: #F1F4F3;
    display: flex;
    margin-top: 2px;
    border:1px solid red;
    
}
@media (max-width:850px){
  .product_wrapper{
  flex-direction: column;
  }
  
  }

.product_sample{
    max-width: 461px;
    width: 100%;
    padding-top: 130px;
    margin-left: 70px;
    border:1px solid red;

    
}

.sample_big img{
    width: 100%;
}
.sample_small{
  margin:0 auto;
    max-width: 300px;
    border: black 1px solid;
    display: flex;
}
.sample_small img{
    border:1px solid red;
    margin: 0 auto;
    max-width: 70px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    text-align: center;
    flex-grow: 1;
}

.product_info{
    max-width: 508px;
    width: 100%;
    margin: 130px auto;
    border:3px solid yellowgreen;

}
/* @media (max-width:850px){
  .product_info{
  flex-direction: column;
  }
  
  } */

.info_word h1{
    font-size: 50px;
    font-weight: bold;

}
.info_word p{
    line-height: 1.6;
}

.info_choose1 {
    border: solid 1px black;
    max-width:508px;
    width: 100%;
    /* height:200px; */
    margin-top: 40px;

}
.info_choose1 label{
    font-size: 25px;

}

.info_choose1 select{
    padding-left: 40px;
    max-width: 120px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;

}

.info_choose2 {
    border: solid 1px black;
    max-width:508px;
    width: 100%;
    /* height:200px; */
    margin-top: 20px;
    padding-bottom: 20px;

}
.info_choose2 label{
    font-size: 25px;

}

.info_choose2 select{
    padding-left: 50px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;

}

.cart{
    width:508px ;
    /* border: black 1px solid; */
    text-align: right;

}
.cart h3{

    padding-bottom: 20px;
}
.cartbox{
    
    display: inline-block;
    border-radius: 5px;
    border: solid blue 1px;
    background-color: #223262;
    width: 150px;
    height: 50px;

}
.cartbox h4{
    color: white;
    text-align: center;
    line-height: 50px;
}


.shopinfo{

    margin-top: 100px;
}
.shopinfo h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}
.shopinfo2{
    max-width: 1196px;
    width: 100%;
    /* height: 500px; */
    line-height: 2;
    padding: 50px;
}

.recommend{
    margin-top: 100px;
}
.recommend h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}


.reco_pic{
    width: 1196px;
    padding-top: 50px;
    margin-bottom: 100px;


}

.reco_pic ul{
    margin-bottom: 50px;
    width: 1200px;
    box-sizing: border-box;
    display: flex;
    
}

.reco_pic li{
    flex-grow: 1;
    padding-left: 50px;
    
}

.reco_pic img{

    width:300px ;
    flex-wrap: wrap;
}

.reco_pic h3{
    padding-top: 5px;
    font-size: 20px;
    float: left;
    /* outline: 1px solid; */
}

.reco_pic a{
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: #F6DB85;
    color: #1E306E;
    align-items: flex-end;
    float: right;
    margin-right: 40px;
    
}

.reco_pic a:hover{
    text-decoration:underline;
    background-color: blanchedalmond;
    color:coral;
}


/* footer start */
.footer{

    width: 1196px;
    height: 198px;
    background-color:#223262 ;
    color: white;

}
.footer a:hover{
    text-decoration:none;
    color:rgb(238, 89, 89);
}

.footer_bar{
    width: 1100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 40px;
}

.sale{
    flex-grow: 1;
    /* border: 1px black solid; */
    text-align: center;
}

.sale ul{

   
}

.sale li{

}
.sale a {
    text-decoration: none;
    padding: 5px;
    color: white;
    width: 60px;
    line-height: 40px;
    font-size: 17px;
}

.resource{
    
    flex-grow: 1;
    /* border: 1px black solid; */
    
}

.resource ul{
   
}

.resource li{

}

.resource a{
    text-decoration: none;
    padding: 5px;
    color: white;
    width: 60px;
    line-height: 40px;
    font-size: 17px;
}

.assist{
    flex-grow: 1;
    /* border: 1px black solid; */
}

.assist ul{

}

.assist li{

}

.assist a{
    text-decoration: none;
    padding: 5px;
    color: white;
    width: 60px;
    line-height: 40px;
    font-size: 17px;
}

.socialmedia{
    flex-grow: 1;
    /* border: 1px black solid; */
}

.socialmedia ul{

}

.socialmedia li{


}

.socialmedia a{
    text-decoration: none;
    padding: 5px;
    color: white;
    width: 60px;
    line-height: 40px;
    font-size: 17px;
}

.email{
    width: 250px;
    
    padding-left:80px;
    font-weight: bold;
    /* border:  1px black solid; */
}

.email h1{
    font-size: 20px;

}
.email input{
    width: 200px;
    height: 30px;

    margin-top: 20px;
    margin-left: 20px;
    
}